@media screen and (max-width: 768px){
    nav {
        display: none;  
    }

    .navbar.show {
        display: block;
        background-color: #E8D3A8;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .navbar a {
        display: block;
        padding: .8rem 10px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        text-align: center;
    
    }

    .hamburger {
        cursor: pointer;
        border: none;
        background: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        width: 44px;
        height: 44px;
    }
    
    .hamburger::before {
        content: "\2630";
        font-size: 2.8rem;
    }
    
    .hamburger.show::before {
        content: "\00D7";
    }

    .logo {
        font-size: 24px;
    }
    .search-bar {
        width: 80%;
    }
    
    .search-bar input {
        padding: 4px 10px;
        border-radius: 8px;
    }
    
    .search-bar button {
        padding: 2px 4px;
        cursor: pointer;
    }

    main {
        transition: margin-top 0.3s ease;
    }

    main.menu-open {
        margin-top: 200px;
    }

    #featured-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0 auto;
        width: 90%;
    }

    .near {
        margin: 20px auto;
        max-width: 90%;
    }

    .gallery-grid {
        max-width: 80%;
    }


    
    .event-card img {
        height: 150px;
    }
    .event-card {
        padding: 10px;
        width: 80%;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        flex: unset;
    }
}